.allDoctorsContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.allDoctorsContainer .filter {
  width: 20%;
  display: flex;
  justify-content: center;
}
.allDoctorsContainer .doctors {
  width: 80%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(300px));
}
.allDoctorsContainer .doctors .doctor {
  border: 2px solid red;
}
